@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: white;
  font-family: "PT Sans", sans-serif;
}
h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  text-shadow: 0px 0px 8px black;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  margin: 0;
  padding-top: 50px;
  font-size: 2rem;
  text-align: center;
}
footer h2 {
  color: white;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10240;
}
footer p {
  position: absolute;
  right: 10px;
  top: -60px;
  color: black;
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  text-align: center;
}
h4 {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding-left: 100px;
  font-size: 1.5rem;
  text-align: center;
}
a {
  text-decoration: none;
  transition: 0.05s;
}
a:link {
  color: red;
}
a:visited {
  color: orange;
}
a:hover {
  color: pink;
}
a:active {
  color: yellow;
}
main {
  padding-top: 0;
}
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  background: black;
}
section {
  height: auto;
  width: 96vw;
  background: whitesmoke;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 2vw;
}
.hr {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5px;
  width: 70vw;
  border-radius: 10px;
  animation: gradient_default 20s linear infinite;
}
.hr_alternate {
  animation: gradient_hover 20s linear infinite;
}
.note {
  color: rgb(211, 211, 211);
  font-size: 1.1rem;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.circle_photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: 50% / cover no-repeat;
  margin-left: calc(50vw - 110px);
  transition: 2s;
  transform: rotate3d(0, 1, 0, 0deg);
}
.circle_middle {
  margin-left: calc(50vw - 120px);
}
.name {
  width: 100px;
}
.app_icon {
  border-radius: 10px;
  transition: 0.5s;
}
.app_icon:hover {
  opacity: 0.6;
}
.contacts_icon {
  transition: 0.5s;
}
.contacts_icon:hover {
  opacity: 0.6;
}
.photo_text {
  width: 100px;
  margin-top: 20px;
}
.photo_text_double {
  margin-top: 10px;
}
.photo_text_contacts {
  width: 200px;
  margin-top: 25px;
}
.photo_text_vk {
  padding-left: 80px;
}
.circle_photo_contacts {
  margin-left: calc(50vw - 160px);
}
.circle_photo_contacts a {
  transition: 0.5s;
}
.description {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 30px;
}
#menu {
  position: fixed;
  overflow: auto;
  display: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  color: white;
  background: black;
  text-align: center;
  z-index: 2048;
}
.scroller {
  overflow: auto;
}
#menu ul {
  margin: 0;
  padding: 0;
}
#menu a {
  position: relative;
  padding: 10px 20px;
  top: 10px;
  border-radius: 5px;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.5s;
  padding-top: 0;
}
#menu a:hover {
  color: grey;
}
#menu li {
  display: inline-block;
  margin: 0 1.5vw;
}
.menu_mobile {
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 108vh;
  left: -100vw;
  top: 0px;
  background-color: white;
  transition: 1s;
  text-align: left;
  z-index: 2048;
}
.btn_mobile {
  position: absolute;
  height: 30px;
  width: 30px;
  right: -40px;
  top: 5px;
  background: url("../img/menu.webp") 50% / cover;
  transition: 2s;
}
.menu_is-open {
  left: 0;
}
.btn_is-open {
  right: 20px;
}
#icon {
  display: inline-block;
  position: relative;
  margin: 0 3vw;
  top: 8px;
  height: 25px;
  width: 25px;
  background: url("../img/icon.webp") 50% / contain no-repeat;
  transition: 0.5s;
}
#icon:hover {
  opacity: 0.75;
}
#menu_mobile ul {
  padding: 0;
}
#menu_mobile a {
  color: white;
  font-family: Arial;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 40px;
}
#menu_mobile li {
  list-style-type: none;
  margin: 5vh;
  padding-left: 15vw;
}
.gradient_btn {
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 50vw;
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 1.6rem;
  text-decoration: none;
  animation: gradient_default 20s linear infinite;
  border-radius: 50px;
}
.sub_btn {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  animation: gradient_hover 20s linear infinite;
  transition: 1s linear;
  border-radius: 50%;
}
.gradient_btn:hover > .sub_btn {
  height: 100vw;
  width: 100vw;
  left: -25vw;
  top: -30vw;
}
.text_btn {
  position: relative;
}
#space {
  height: 12vh;
  width: 100%;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 98vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  margin-right: 0;
}
.visible {
  position: relative;
  z-index: 1024;
}
#main {
  height: 90vh;
  padding-top: 0;
}
#main_img {
  margin: auto;
  height: 40vh;
  width: 40vh;
  background: url("../img/logo.webp") 50% / contain no-repeat;
  padding-top: 24vh;
  transition: 1s;
}
#about {
  margin-top: 80px;
}
#about_img {
  background-image: url("../img/photo.webp");
}
#blur_text {
  margin: auto;
  width: 80px;
  height: 80px;
  background: url("../img/blur.webp") 50% / contain no-repeat;
}
#oh_text {
  position: relative;
  font-size: 1.5rem;
  top: 60px;
  left: 80px;
}
#smartbook_img {
  background-image: url("../img/smartbook.webp");
}
#savetheprincess_img {
  background-image: url("../img/savetheprincess.webp");
}
#monuments_img {
  background-image: url("../img/monuments.webp");
}
#phone {
  background-image: url("../img/phone.webp");
}
#email {
  background-image: url("../img/email.webp");
  margin-left: calc(50vw - 165px);
}
#vk {
  background-image: url("../img/vk.webp");
  margin-left: calc(50vw - 140px);
}
#email h4 {
  padding-left: 80px;
}
.like {
  position: absolute;
  display: inline-block;
  top: calc(50% - 20px);
  right: 20px;
  height: 40px;
  width: 40px;
  background: white;
  background: url("../img/nolike.webp") 50% / cover no-repeat;
  transition: 1s;
}
.hide {
  display: none;
}
.hide:checked ~ .like {
  width: 42px;
  height: 42px;
  background: url("../img/like.webp") 50% / cover no-repeat;
}
#vk_community_messages {
  display: none;
}
@media (min-width: 768px) {
  main {
    position: relative;
    width: 100vw;
  }
  section {
    position: relative;
    height: auto;
    width: 100vw;
    border-radius: 0;
    margin-left: 0;
  }
  h1 {
    font-size: 6rem;
    padding-top: 0px;
  }
  h2 {
    font-size: 4rem;
    padding-top: 120px;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
    padding-left: 150px;
  }
  .photo_text {
    width: 160px;
    margin-top: 30px;
  }
  .photo_text_double {
    width: 160px;
    margin-top: 10px;
  }
  .photo_text_contacts {
    width: 250px;
    margin-top: 25px;
  }
  .photo_text_vk {
    padding-left: 140px;
  }
  .description {
    font-size: 2rem;
    padding-top: 50px;
  }
  .circle_photo {
    width: 100px;
    height: 100px;
    margin-left: calc(50vw - 160px);
  }
  .circle_photo_contacts {
    margin-left: calc(50vw - 220px);
  }
  #email {
    margin-left: calc(50vw - 240px);
  }
  #email h4 {
    padding-left: 145px;
  }
  .note {
    font-size: 1.5em;
    padding-bottom: 50px;
    padding-top: 0px;
    padding-left: 100px;
  }
  #main {
    padding-top: 45px;
    background: white;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0;
  }
  #about {
    margin-top: -20px;
  }
  #overlay {
    width: 100vw;
    height: 100vh;
  }
  #menu {
    display: inline-block;
    margin-top: 0px;
    width: 100vw;
  }
  #menu_mobile {
    display: none;
  }
  #main_img {
    padding-top: 30vh;
  }
  #oh_text {
    font-size: 2rem;
    left: 360px;
  }
  #blur_text {
    width: 400px;
    height: 90px;
  }
  .like {
    right: 40px;
  }
  .hr {
    width: 30vw;
  }
  #vk_community_messages {
    display: inline-block;
  }
  #vk {
    margin-left: calc(50vw - 190px);
  }
}
@media (min-width: 1366px) {
  #menu {
    margin-top: 0px;
  }
  #about {
    margin-top: 35px;
  }
  #main_img:hover {
    transform: rotate3d(2, 1, 0, 180deg);
    height: 50vh;
    width: 50vh;
  }
  .circle_photo:hover {
    transform: rotate3d(0, 1, 0, 15deg);
  }
}
